# installed.cfg --
#
#	This files defines all the tokens that the application
#	provides to the other config files and other application
#	specific configuration. It is created from the base file
#	by the installer. You should never have to edit this file
#	directly. Instead edit the user configurable config/plugin.cfg.
#
#	MAKE NO CHANGES IN THIS FILE -- YOUR CHANGES WILL GET LOST
#	IF A NEWER VERSION IS INSTALLED!
#
#	This files is in MSDOS text format because of the Windows
#	installation process. Edits must retain the ^M's
#
#	This file is sourced once at application startup.
#
# CONTACT:	tclplugin-core@lists.sourceforge.net
#
# ORIGINAL AUTHORS:	Jacob Levy		Laurent Demailly
#
# Copyright (c) 1996-1997 Sun Microsystems, Inc.
# Copyright (c) 2000 by Scriptics Corporation.
# Copyright (c) 2002 ActiveState Corporation.
#
# See the file "license.terms" for information on usage and redistribution
# of this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# RCS:  @(#) $Id$

# Release date (must be YYYYMMDD):

set ::plugin(release) 20021207

# List of additional commands (wrt the safe base) that need to be hidden
# because safefeatures rely on them being original ones
variable toHideCmdsList {
    puts
    close
    seek
    tell
}

# Declaration of the safe attribute list (gettable from the tclet,
# used by browser:: iget's alias)

variable safeAttributes {}

# Tokens made available by the browser:: package:

foreach element {URL HomeDirURL Proto Host SocketHost Port Path Key} {
    set what origin$element
    variable $what "\[getattr [list $what]\]"
    lappend safeAttributes $what
}

# Misc other attributes that gettattribute can reach :

foreach attribute {
    browserArgs apiVersion userAgent
    windowGeometry completeWindowGeometry
    openChannelCounter persistentFileCounter
    Script Tk script height width
} {
    variable $attribute "\[getattr [list $attribute]\]"
    lappend safeAttributes $attribute
}

# Add your own attributes here:

# <place holder>

# The following variable defines in which namespace the actual implementation
# (application specific code) can be found.
# The application has to provide this namespace and APIs like the "iget"
# proc in it (used, for instance, in urlIsOk) and the actual implementation
# for some application specific aliases (like the url features set)
# This is used by the safe tcl features.tcl

variable implNs ::browser

# Likewise we define where, by default, we will install the aliases
# in the slave (for the aliases which implement new functionality and 
# hence are added in a namespace in the target (eg: the url features set)).

variable slaveNs ::browser

# Name of the config file for trust mapping (2nd level (user/admin level)
# configuration)

variable userConfig "plugin"

# Name of the config directory where all the configurations
# for trust and policies resides
# (override the sibling of tcl_library default, because the external wish
#  can have a different tcl_library that the plugin one)

variable configDir [file join $::plugin(topdir) "config"]

# The list of global variables to restore when an interpreter is
# made trusted and unsafe:

variable RestoreVariables {
    auto_path tcl_library tk_library tcl_pkgPath argc argv argv0
}

# The list of array variables to restore when an interpreter is
# made trusted and unsafe:

variable RestoreArrayVariables {
    env auto_index tcl_platform
}

# Default log filter (remove the auto-loading 'error' flood and DEBUG info)
# (returning 1 filters out the message)
proc ::log::filter {name msg type} {
  expr {($type=="DEBUG") ||\
	([string match "*Index*:no such file or directory" $msg])}
}


# The plugin installer appends code hereafter depending on
# the local installation configuration and OS
#set ::plugin(executable) {C:\Tcl\bin\wish.exe}
#set ::plugin(sharedLibraryDir) {C:\Tcl\bin}
