# home.cfg --
#
#	Configuration file for the "home" policy.
#
#       Check the 'config.n' manual page for more details on the format
#	of this and other configuration files.
#
#       This file (home.cfg) is not supposed to be edited. You can copy
#       it under a new name to make another policy to suit your particular
#       needs (if you need a different behaviour for the regular 'home' 
#       policy), but if you change this file, some tclets that expect
#       the "standard" 'home' will probably fail and your tclets that would
#       take advantage of the new 'home' would not work for other people
#       anyway.
#
# CONTACT:		sunscript-plugin@sunscript.sun.com
#
# AUTHORS:		Jacob Levy			Laurent Demailly
#			jyl@eng.sun.com			demailly@eng.sun.com
#			jyl@tcl-tk.com			L@demailly.com
#
# Please contact us directly for questions, comments and enhancements.
#
# Copyright (c) 1995-1997 Sun Microsystems, Inc.
# Copyright (c) 2000 by Scriptics Corporation.
#
# See the file "license.terms" for information on usage and redistribution
# of this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# SCCS: @(#) home.cfg 1.32 97/12/02 13:06:52
# RCS:  @(#) $Id$


# What features are enabled in this policy?

section features
    allow url
    allow network
    allow persist unless {[string match {UNKNOWN *} [getattr originURL]]}

# What URLs are allowed?

section urls
    # Expected format (by the url feature):
    # allow <urlPattern>
    allow $originHomeDirURL*

# What frames (targets) are allowed for displayURL,...
# allow all frames (including _blank ,...) but there is the
# variable maxFrames to limit their absolute total number.
section frames
    allow *
    disallow {}

# What addresses can be used in a socket command?

section hosts ports
    # Expected format (by the network feature):
    # allow <hostPattern> <portPattern>
    allow $originSocketHost >1024
    allow $originSocketHost 21


# What are the ressources available in the persist feature
section persist
    # The base name where the storage actually happen
    # (use the same name to share between policies)
    # The default is to use the policy name (to avoid unwanted sharing)
    #constant storage "sharingPrefix"
    # Number of allowed open files
    constant openFilesLimit 4
    # Number of allowed files in the persist storage directory
    constant storedFilesLimit 6
    # Max size of each file (in bytes): here we give 128k per file.
    constant fileSizeLimit [expr 128*1024]


# What aliases are supported by this policy?
# (fine tuning, you should not need to change this)

section aliases
    # Expected format (by all features installing aliases)
    # allow <commandNamePattern>
    allow socket
    allow fconfigure
    allow open
    allow file
    allow close
    allow puts
    allow tell
    allow seek
    allow glob
    allow ::browser::getURL
    allow ::browser::displayURL
    allow ::browser::getForm
    allow ::browser::displayForm
    allow ::browser::status
    disallow ::browser::sendMail

