# inside.cfg --
#
#	Configuration file for the "inside" policy.
#
#       Check the 'config.n' manual page for more details on the format
#	of this and other configuration files.
#
# CONTACT:      sunscript-plugin@sunscript.sun.com
#
# AUTHORS:      Jacob Levy              Laurent Demailly
#               jyl@eng.sun.com         demailly@eng.sun.com
#               jyl@tcl-tk.com          L@demailly.com
#
# Please contact us directly for questions, comments and enhancements.
#
# Copyright (c) 1995 Sun Microsystems, Inc.
# Copyright (c) 2000 by Scriptics Corporation.
#
# See the file "license.terms" for information on usage and redistribution
# of this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# SCCS: @(#) inside.cfg 1.16 97/12/02 13:06:11
# RCS:  @(#) $Id$

# What features are enabled in this policy?

section features
allow   url
allow   network
allow   persist

# What URLs are allowed? 
#
# To enable: Remove the "disallow *" and add URL patterns here for those
# areas of your intranet web that you want Tclets to have access to. Note
# that if you do not remove the "disallow *", none of your additions will
# have any effect. 

section  urls
disallow *

# What frames (targets) are allowed for displayURL,...
#
# To enable: Remove the "disallow *" and add frame patterns you want
# to allow (like * or _self or inside1 ...)
#
section frames
disallow *

# What hosts and ports can be used in a socket command?
#
# To enable: Remove the "disallow * *" and add host and port specifications
# for those hosts and ports that you want Tclets to be able to connect to.
# Note that if you do not remove the "disallow * *", none of your additions
# will have any effect.

section  hosts     ports
disallow *        *

# What aliases are supported by this policy?

section aliases
allow   socket
allow   fconfigure
allow   open
allow   file
allow   close
allow   puts
allow   tell
allow   seek
allow   glob
allow   ::browser::getURL
allow	::browser::displayURL
allow	::browser::getForm
allow	::browser::displayForm
allow   ::browser::status
