# javascript.cfg --
#
#	Configuration file for the "javascript" policy.
#
#       Check the 'config.n' manual page for more details on the format
#	of this and other configuration files.
#
# CONTACT:		sunscript-plugin@sunscript.sun.com
#
# AUTHORS:		Jacob Levy			Laurent Demailly
#			jyl@eng.sun.com			demailly@eng.sun.com
#			jyl@tcl-tk.com			L@demailly.com
#
# Please contact us directly for questions, comments and enhancements.
#
# Copyright (c) 1995-1997 Sun Microsystems, Inc.
# Copyright (c) 2000 by Scriptics Corporation.
#
# See the file "license.terms" for information on usage and redistribution
# of this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# SCCS: @(#) javascript.cfg 1.11 97/11/03 15:27:42
# RCS:  @(#) $Id$

#
############################################################
# WARNING ##################################################
############################################################
#
# THIS FILE ALLOWS FULL ACCESS TO THE BROWSER FEATURES.
# =====================================================

# What features are enabled in this policy?

section features
allow url
allow stream
allow network
allow persist

# What URLs are allowed?

section urls
allow *

# What hosts and ports can be used in a socket command?

section hosts ports
allow   *     *

# What mime types are allowed for openStream
section mimeTypes
allow  *

# What frames (targets) are allowed for displayURL,...
# (allowed * means even the empty one is allowed)
section frames
allow *

# What aliases are supported by this policy? In the javascript policy,
# all aliases are supported.

section aliases
allow *
