# plugin.cfg --
#
#       This file is the first level of access control.
#
#       It determines if a given policy is allowed for a given tclet.       
#       It also declares the list of available features in the current
#       configuration. Each policy's .cfg will then select which of those
#       features it allows.
#
#       Check the 'config.n' manual page for more details on the format
#	of this and other configuration files.
#
#	This file is meant to be edited by system and site administrators
#	to allow them to configure the use of policies for their specific
#	system needs. Please read the manual page config.n for more info.
#
# CONTACT:      sunscript-plugin@sunscript.sun.com
#
# AUTHORS:      Jacob Levy              Laurent Demailly
#               jyl@eng.sun.com         demailly@eng.sun.com
#               jyl@tcl-tk.com          L@demailly.com
#
# Please contact us directly for questions, comments and enhancements.
#
# Copyright (c) 1995-1997 Sun Microsystems, Inc.
#
# See the file "license.terms" for information on usage and redistribution
# of this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# SCCS: @(#) plugin.cfg 1.19 97/11/13 16:56:05


# This section defines which policies are available and under which conditions

section policies

    # Home should be safe enough for any tclet:

    allow    home

    # Javascript requires some Trust:
    
    allow    javascript ifallowed trustedJavascriptURLs $originURL
    
    # Those policies aren't safe for everybody:

    disallow intercom
    disallow outside
    disallow inside

    # The following MUST not be allowed unless high trust is granted:

    disallow trusted

# This part allow the administrator to globally add/remove features sets
# List of all available/possible features:

variable featuresList {url stream network persist unsafe}

# This part allow the administrator/user to limit the total number
# of frames all the tclets can access :

variable maxFrames 5

# This section lists the allowed origin urls for the javascript
# policy access: currently includes only Sunscript's web server
# plugin/javascript subtree for security reasons

section trustedJavascriptURLs
    allow http://sunscript.sun.com:80/plugin/javascript/*


# Other User Preferences. If you uncomment these, reload the plugin and
# the changes will take effect immediately:

# set ::env(TCL_PLUGIN_CONSOLE) 1
# set ::env(TCL_PLUGIN_LOGWINDOW) 1
# set ::env(TCL_PLUGIN_LOGFILE) foo.log
# set ::env(TCL_PLUGIN_WISH) 1
