// RCS: @(#) $Id$
//
// Version resource script
//

#define VS_VERSION_INFO 1

#include <npversion.h>

LANGUAGE 0x9, 0x1	/* LANG_ENGLISH, SUBLANG_DEFAULT */


VS_VERSION_INFO VERSIONINFO
 FILEVERSION NPTCL_MAJOR_VERSION,NPTCL_MINOR_VERSION,NPTCL_RELEASE_LEVEL,NPTCL_RELEASE_SERIAL
 PRODUCTVERSION NPTCL_MAJOR_VERSION,NPTCL_MINOR_VERSION,NPTCL_RELEASE_LEVEL,NPTCL_RELEASE_SERIAL
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040904e4"
	BEGIN

	    VALUE "CompanyName",	"Scriptics Corporation\0"
	    VALUE "FileDescription",	"Tcl Plugin " NPTCL_PATCH_LEVEL " Executes tclets found in Web pages.  See the http://dev.scriptics.com/software/plugin/ for more details.\0"
	    VALUE "FileVersion",	NPTCL_PATCH_LEVEL "\0"
	    VALUE "InternalName",	"Tcl Plugin " NPTCL_PATCH_LEVEL "\0"
	    VALUE "LegalCopyright",	"Copyright (c) 2000 by Scriptics Corporation\0"
	    VALUE "LegalTrademarks",	"None.  Under BSD license\0"
	    VALUE "OriginalFilename",	"nptcl32.dll\0"
	    VALUE "ProductName",	"Tcl Plugin " NPTCL_PATCH_LEVEL "\0"
	    VALUE "ProductVersion",	NPTCL_PATCH_LEVEL "\0"
	    VALUE "MIMEType",		"application/x-tcl\0"
	    VALUE "FileExtents",	"tcl\0"
	    VALUE "FileOpenName",	"Tcl (*.tcl)\0"
	END
    END
    BLOCK "VarFileInfo"
    BEGIN
	VALUE "Translation", 0x409, 1252
    END
END
