# trusted.cfg --
#
#	Configuration file for the "trusted" policy.
#
#       Check the 'config.n' manual page for more details on the format
#	of this and other configuration files.
#
# CONTACT:		tclplugin-core@lists.sourceforge.net
#
# Copyright (c) 1995-1997 Sun Microsystems, Inc.
# Copyright (c) 2000 by Scriptics Corporation.
#
# See the file "license.terms" for information on usage and redistribution
# of this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# RCS:  @(#) $Id$
#
############################################################
# WARNING ##################################################
############################################################
#
# THIS FILE REENABLES ALL DANGEROUS FEATURES OF TCL.
# ==================================================

# What features are enabled in this policy?
#
# WARNING ##################################################
#
# This file allows *all* features:
# (including the most dangerous 'unsafe' feature)
#

section features
allow *

# What URLs are allowed?
# This file allows *all* urls:

section urls
allow *

# What frames (targets) are allowed for displayURL,...
# This file allows *all* frames
# (there is still the global ::cfg::maxFrames limit though)
section frames
allow *


# What addresses can be used in a socket command?
#
# There is no "hosts" section because the full socket functionality
# has been restored.

# What aliases are supported by this policy?
#
# We allow all aliases, and some of them are replaced by the unsafe
# original command:
# (we also allow the "master" command which the "unsafe" feature will
#  install and allow the tclet to evaluate scripts in the context
#  of the master interpreter)

section aliases
allow *

# Which unsafe commands are going to be restored?
#
# This policy allows all hidden commands to be restored:

section restoreCommands
allow *

# Which unsafe variables will be restored?
#
# This policy allows all unsafe variables to be restored:

section restoreVariables
allow *

# Which unsafe array variables will be restored?
#
# This policy allows all unsafe array variables to be restored:

section restoreArrayVariables
allow *

# Do we allow the interpreter to be marked as trusted?
#
# This policy says that the interpreter should be marked as trusted:

section markTrusted
constant markTrusted 1

