// RCS: @(#) $Id$
//
// NPDLL32.RC
//

#include <winver.h>

//
// We only really want the version info
//
#define JRI_MD_H
#include <np.h>

LANGUAGE 0x9, 0x1
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION	NPTCL_MAJOR_VERSION,NPTCL_MINOR_VERSION,NPTCL_RELEASE_LEVEL,NPTCL_RELEASE_SERIAL
 PRODUCTVERSION	NPTCL_MAJOR_VERSION,NPTCL_MINOR_VERSION,NPTCL_RELEASE_LEVEL,NPTCL_RELEASE_SERIAL
 FILEFLAGSMASK	0x3fL
#ifdef _DEBUG
 FILEFLAGS	VS_FF_DEBUG
#else
 FILEFLAGS	0x0L
#endif
 FILEOS		VOS__WINDOWS32
 FILETYPE	VFT_DLL
 FILESUBTYPE	0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",     "ActiveState Corporation\0"
            VALUE "FileDescription", "Tcl Plugin " NPTCL_PATCH_LEVEL " Executes Tclets.  See the <a href=http://www.tcl.tk/software/plugin/>Tcl Plugin</a> home page for more details.\0"
            VALUE "FileVersion",     NPTCL_PATCH_LEVEL
            VALUE "InternalName",    "Tcl Plugin " NPTCL_PATCH_LEVEL "\0"
            VALUE "LegalCopyright",  "Copyright 2002 ActiveState Corporation\0"
            VALUE "LegalTrademarks", "None\0"
            VALUE "OriginalFilename","nptcl30.dll\0"
            VALUE "ProductName",     "Tcl Plugin " NPTCL_PATCH_LEVEL "\0"
            VALUE "ProductVersion",  NPTCL_PATCH_LEVEL
            VALUE "MIMEType",        "application/x-tcl\0"
            VALUE "FileExtents",     "tcl\0"
            VALUE "FileOpenName",    "Tcl (*.tcl)\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

